<a href="{{ block.settings.wishlist }}" class="header__icon link focus-inset" {{ block.shopify_attributes }}>
  <span class="svg-wrapper">{{ 'icon-wishlist.svg' | inline_asset_content }}</span>
  <span class="visually-hidden">Wishlist</span>
</a>
